parameters:
    level: 5
    mockery:
        class: DataCollection
        mockClass: Mockery\MockInterface
    treatPhpDocTypesAsCertain: false
    paths:
        - src
    excludePaths:
    bootstrapFiles:
        - vendor/autoload.php
    ignoreErrors:

